@font-face {
    font-family: "enchantedland";
    src: url(../font/enchantedland-ds.otf);
  }


.home{

    background-image: url("../background/school-of-athence.jpg") ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;


    height: 90vh;
}


.home .content{
    flex: 1;
    display: flex;
    align-items: center;
}

.home .content-wrap{
  padding: 1rem 4rem;
}

.home-heading{
    font-size:3rem;
    font-family:"enchantedland";
}

.home .self-desc{
    font-size: 1.1rem;
}


.home .photo{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home  .photo-wrap{
    border: 2.5rem solid rgba(255, 255, 255, 0.5);
    border-radius: 55%;
}

.home .photo img{
    border:.1rem solid #FFD700;
    border-radius: 50%;
    max-width: 100%;
}



