@font-face {
    font-family: "enchantedland";
    src: url(../font/enchantedland-ds.otf);
  }


.home{
    background-image: url("../background/school-of-athence.jpg") ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
}


.home .content{
    flex: 1;
    display: flex;
    align-items: center;
}

.home .content-wrap{
  padding: 1rem 4rem;
}

.home-heading{
    font-size:3rem;
    font-family:"enchantedland";
    color:#E8D3B6;
}

.home .self-desc{
    font-size: 1.2rem;
}

.home .button-group{
    margin-top: 1rem;
}

.home .button-group a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    margin:1rem;
    padding: .75rem;
    background-color:transparent;
    border: .2rem solid #BD8D4C;
    border-radius: 1.5rem;
}

.home .button-group a:hover{
    background-color: #BD8D4C;
    color: white;
    /* border: none; */
    transition: .5s ease;
}





.home .photo{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home  .photo-wrap{
    border: 2.2rem solid rgba(255, 255, 255, 0.11);
    width: 20rem;
    height:25rem;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.home .photo img{
   display: inline-block;
    border:.1rem solid #BD8D4C;
    border-radius: 50%;
    width:100%;
    height:100%;
    object-fit: cover;
}



/* Mobile Devices */
@media (max-width: 480px) {

  .home{
    flex-direction: column-reverse;
    height: auto;
  }

  .home .photo{
    margin: 1.5rem 0;
  }

  .home .photo-wrap{
    height: 18rem;
    width: 15rem;
    border:1.5rem solid rgba(255, 255, 255, 0.11);
    
  }

  .home .photo img{
    display: inline-block;
  }


  .home .content-wrap{
    padding: 0;
  }
   
  .home .home-heading{
    text-align: center;
  }

  .home .self-desc{
    text-align: center;
  }

  .button-group {
    display: flex;
    justify-content: center  ;
    margin-bottom: 1rem;
  }
}

/* Tablets */
@media (min-width: 481px) and (max-width: 1024px) {
  /* CSS rules for tablets */

  .home .home-heading{
    font-size: 2.5rem;
  }
}

